
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ROOT VARIABLES */
:root {
  --color-primary: #000000;
  --color-secondary: #d8b151;
  --color-light: #ffffff;

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Montserrat', sans-serif;
}

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: var(--font-body);
  background: var(--color-light);
  color: var(--color-primary);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* SELECTION */
::selection {
  background: var(--color-secondary);
  color: white;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 999px;
}